*{
    margin: 0;
    padding: 0;
}
.techo{
    width: 100%;
    height: 200px;
    background-color: rgba(255, 166, 0, 0.486);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cuadrado{
    background-color: rgba(255, 166, 0, 0.699);
    height: 150px;
    width: 150px;
    margin: 80px;
}
.lineaN{
    background-color: rgba(255, 166, 0, 0.699);
    height: 20px;
    width: 115px;
}
.lineaB{
    background-color: white;
    height: 10px;
    width: 230px;
}
.columnita{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lineaBC{
    background-color: white;
    height: 10px;
    width: 115px;
}
.centro{
    background-color: white;
    width: 100%;
    height: 300px;

}
.suelo{
    background-color: grey;
    width: 100%;
    height: 80px;
}
.cuadradoA{
    height: 100px;
    width: 100px;
    background-color: blue;
}
.linitA{
    height: 10px;
    width: 100px;
    background-color: cadetblue;
}
.recta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: cecnter;
}
.cuadraditoA{
    background-color: cadetblue;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
cuadradoR{
    height: 100px;
    width: 100px;
    background-color: red;
}