.header{
    background-color: orange;
    width: 100vw;
    height: 40vh;
    
}
.cudradouno{
background-color: rgb(184, 146, 77);
width: 100px;
height: 100px;
justify-content: center;
 align-items: center;

}